:host {
  display: flex;
  width: 65vw;
  height: 100%;
}

.avaliacao-geral {
  --mat-stepper-container-color: #fff;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
}
